[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
ipython = "*"
pillow = "*"
matplotlib = "*"
pytest = "*"
py-spy = "*"
alembic = "*"
psycopg2 = "*"
progressbar2 = "*"
databases = {extras = ["asyncpg"], version = "*"}

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.9"
